.section {
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo {
    width: 100%;
}

#newTaskItem {
    width: 100%;
}

.zero-button {
    width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;    
}

.zero-button i {
    margin-right: 4px;
}

.input-area button {
    width: calc(100% - 12px);
    margin-left: 12px;
    border-radius: 5px;
    /* TRIBUTE TO OUR TEACHER --> box-shadow: 0 0 3px #ccc; */
}

.tasks-list {
    background: #f5f7f7;
    list-style: none;
    border-radius: 8px;
}

.tasks-list li {
    height: 36px;
    margin: 0 20px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(173, 172, 172);
    
}

.tasks-list li i {
    cursor: pointer
}

.tasks-list li:hover {
    background-color: #fff;
}

.tasks-list li:first-child {
    margin-top: 20px;
}

.tasks-list li:last-child {
    margin-bottom: 20px;
}

