<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="css/style.css">
        <title>To Do List - VueJs</title>
    </head>
    <body>

        <div id="app">

            <!-- Bootstrap's container -->
            <div class="container">

                <!-- Logo section -->
                <div class="row justify-content-center section">
                    <div class="col-4">
                        <img class="logo" src="img/logo.png" alt="Boolean Logo">
                    </div>
                </div>
                
                <!-- Input & button section -->
                <div class="row justify-content-center input-area section">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-8 p-0">
                                <input id="newTaskItem" v-model="newTask" @keyup.enter ="addTask" placeholder="Inserisci un nuovo task">
                            </div>
                           <div class="col-4 p-0">
                                <button @click="addTask">Aggiungi</button>
                           </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tasks list section -->
                <div class="row justify-content-center section">
                    <ul class="col-8 tasks-list">
                        <li v-for="(task, index) in toDoList">
                            <i class="far fa-check-circle"></i> 
                            <span>{{ task }}</span>
                            <i class="fas fa-backspace" @click="deleteTask(index)"></i>
                        </li>
                    </ul>
                </div>
                
            </div>

        </div>
        <script src="js/script.js"></script>
    
    </body>
</html>